<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($produtos as $produto): ?>
        <tr>
            <td><?= $produto['id']; ?></td>
            <td><?= $produto['nome']; ?></td>
            <td><?= $this->Money->format($produto['preco']); ?></td>
            <td><?= $produto['descricao']; ?></td>
            <td>
                <?php echo $this->Html->link('Editar',['controller' => 'produtos','action' => 'editar', $produto['id']]);?>
                <?php echo $this->Form->postLink('Apagar',['controller' => 'produtos','action' => 'apagar', $produto['id']],['confirm' => 'Tem certeza que deseja apagar o produto ' .$produto['nome']. '?']);?>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php echo $this->Html->Link('Novo Produto',['controller' => 'produtos', 'action' => 'novo']) ?>
