/*{ ------------------ AREA GLOBAL ---------------------------------------------*/

	*{
		outline: #f1f1f1 0px solid;
		margin: 0px;
		padding: 0px;
	}

	a{text-decoration: none;}

	li{list-style-type: none;}

	html{
		height:100%;
		width: 100%;
		font-family: Verdana, Geneva, sans-serif;
		min-height: 100%;
	}

	img{
		width: 100%;
		height: 100%;
	}

	button{
		cursor: pointer;
	}

	body { 
	 height:100%;
	 width: 100%;
	 background-color: #DEDEDE;
	 font-size:62.5%;
     
	}

	.aNoStyle{
		color:#000;
	}
	/*}------------------ FIM AREA GLOBAL ------------------------------------------*/

/*ELEMTNOS*/


.balao::after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid  #66B5FB;

/*66B5FB*/
    top: -12px;
    right:4.2%;
}


.balao::before{

	content: "";

	width: 0;
	height: 0;

	position: absolute;

	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid  #fff;

	top: -13px;
	right:7%;
}

/*{------------------------- MENU ---------------------------------------------*/


	#menu{
	/*Corpo*/
        background-color:#7947B6;         width: 100%;         height: 7.1em;
border-bottom: 1px solid #000; }

	#menu #logo{
	/*Logo*/
		float: left;
		position: relative;
		width: 20em;
		height: 100%;
		border-right: 1px solid #000;
	}
	#menu #logo h2{
		margin: 0.58em;
		color: white;
		font-size: 3em;
		float: center-right;
		text-align: left;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	#menu #logo img{
		float: left;
		text-align: center;
		margin: 0.6em;
		width: 5.5em;
		height: 5.5em;
		border-radius: 100%;
		border-color: black;
		border-style: solid;
		border-width: 0.1em;
	}
	
/*	#menu #logo tr:nth-child(2) td{
		margin-top: 4em;
		color: #fff;
		text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		
	}*/


	#menu nav a{
	/*Link*/
		float: left;
		position: relative;
		display: inline-block;
		font-size: 3em;
		color: #000;
		margin: 0.1em;
		padding: 0.6em;
		padding-top: 0.4em;
		text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	}


	

	#menu #login img{
		width: 100.5%;
		height: 100.5%;
		margin-left: 0.35em;
		cursor: pointer;

	}

	#menu #login #flutuante{
	/*Login Formulario*/
        border: 0.05em solid #fff;
		display: block;
		background: #66B5FB;
		border-radius: 2em;
		padding-top: 1em;
		min-width: 15em;
		min-height: 14em;
		float: left;
		right:1.6em;
		position: absolute;
		z-index: 1000;
		

	}

	#menu #login .logar p{
		color: #FFF;
		text-shadow: #c7c7c7 0.4 -1px, #c7c7c7 0 1px, #c7c7c7 0 1px, #c7c7c7 0 -1px;
		font-size: 2.2em;
		text-align: center;
	}

	.logar input{
		background-color: #fff;
		border: 1px solid #c7c7c7;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 3%;
        text-align: center;
	}

	.logar button{
		background-color: #f0f0f0;
		border: 2px solid #819ecc;
		width: 80%;
		cursor: pointer;
	}

	.logar button:hover{
		background: #e0e0e0;
		border-color: #8aa9e1;
	}

	.loginForumlario{
        margin-top: -2em;
		margin-left: 10%;
		width: 80%;
		font-size: 1.2em;
		padding: 0.5em;
	}


	#menu #login .logar a{
		float: left;
		
		font-size: 1em;
		color: #fff;
	}

	#menu #login .logar a:hover{
		text-decoration: underline;
	}

	 .logado h3{
		font-size:1.4em;
		padding-left: 1em;
	}

	#menu #login .logado p{
		float: left;
		font-size: 1.3em;
		padding-left: 1em;
		margin: 0.2em;

	}

	#menu #login .logado a{
		float: left;
		font-size: 1.3em;
		margin: 0.2em;
		color: #000;
	}

	#menu #login .logado a:hover{
		text-decoration: underline;
	}

	#menu #login .logado .logadoLink{
	float: left;
	width: 4em;
    text-align: center;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 1em;
	font-size: 1em;
	}
	
	/*}------------------------- FIM MENU -----------------------------------------*/


/*{----------------------------- BANNERBANNER ---------------------------------------*/

	
	/*}----------------------------- FIM BANNER ---------------------------------------*/


	/*----------------------------- Conteudo-Salas ---------------------------------------*/
	
	.salas{
		position: relative;
		background-color: #86849C;/
		border-top: 2px dashed rgba(0,0,0,0.2);
		background-color: #dedede;
		width:100%;
		height: 33em;
	}

	.salas img{
		width: 15%;
		height: 25%;
	}

	.salas div{
		width: 100%;
		padding-top: 0.8em;
		margin-top: 4%;
		margin-bottom: 8%;
		height: 15em;
		float: center;
		text-align:  center;
		}


	.salas i{
		margin-bottom: 0.4em;
		color: #313131;
		font-size: 8em;
}

	.salas h2{
		
		font-size: 1.8em;	
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0.2em;

	}
	.salas table{
		width:80%;
		margin-left:10%;
	}
	.salas table td{
		width:50%;
	}
	.salas table td .lamina{
		height:60%;
	}
	
	.tableSalas{
		background-color: #86849C;/
		border-top: 2px dashed rgba(0,0,0,0.2);
		background-color: #dedede;
		width:90%;
		margin-left: 5%;
	}
	
	.tableSalas div{
		padding-top: 1em;
		margin-top: 4%;
		margin-bottom: -10%;
		height: 30em;
		text-align: left;
		}

	.tableSalas i{
		color: #313131;
		font-size: 2em;
	}
	.tableSalas table{
		width:100%;
		margin:0%;
	}
	.tableSalas table td{
		width:95%;
	}
	.tableSalas table td .lamina{
		height:8em;
	}

	/*----------------------------- Conteudo-Desafio ----------------------------------------*/

	.desafios{
		background-color: #86849C;/
		border-top: 2px dashed rgba(0,0,0,0.2);
		background-color: #dedede;
		width:100%;
	}

	.desafios div{
		padding-top: 1em;
		margin-top: 4%;
		margin-bottom: -10%;
		height: 8em;
		float: center;
		text-align: center;

		}

	.desafios i{
		color: #313131;
	}
	.desafios table{
		width:100%;
		margin-left:0%;
	}
	.desafios .tableAjust{
		width: 90%;
		margin-left: 5%;
	}
	.desafios table td{
		width:30%;
	}
	.desafios table td .lamina{
		height:8em;
	}
	
	.listaJogadores{
		font-weight: bold;
		color: #575757;
	}
	.listaJogadores p{
		font-weight: normal;
		color: #575757;
	}
	.listaJogadores i{
	}
/*}----------------------------- FIM Conteudo ---------------------------------------*/

/*{----------------------------- SALAS ---------------------------------------*/
	#infoSala{
		margin-top: 2em;
		padding-top: 2em;
		color: #35312C;
		border: 100px, 100px;
		background-color: #FAAC58;
		box-shadow: 0px 2px 5px #000;
		z-index: 999;
	}
	#infoSala h1{
		font-size: 4em;
	}
	#infoSala i{
		font-size: 15em;
		color: #C17728;
		float: left;
	}
	#infoSala p{
		font-size: 3em;
	}
	#alunos{
		background-color: #F7BE81;
	}
	#alunos .tdI i{
		font-size: 1.2em;
	}
	
	#infoSala .options{
		padding-bottom: 3em;
	}
	
	#infoSala .options i{
		cursor:pointer;
		font-size: 10em; 
		margin-top: -1.21em; 
		margin-left: 0.2em;
		float:right;
		padding: 0.1em; 
		border-radius: 20px; 
		border: 2px solid #C17728; 
		background-color: #FEBA61;
	}
	
	#infoSala .options i:hover{
		color: #FEBA61;
		background-color: #C17728;
	}
	
	.trocaDivs{
		padding: 0.2em;
		width: 40%;
		margin-top: -17em;
		margin-right: 2em;
		position: relative;
		float:  right;
	}
	.adcAmg i{
		cursor:pointer;
		font-size: 3.2em;
		position: absolute;
		right:1.82em;
		top: -0.08em;
		padding: 0.1em; 
		border-radius: 20px 20px 0px 0px; 
		border: 1.5px solid grey; 
		background-color: #F7BE81;
	}
	.adcAmg i:hover{
		color: #F7BE81;
		background-color: grey;
	}
	
/*}----------------------------- FIM Salas ---------------------------------------*/

/*{----------------------------- Separador ---------------------------------------*/
	.separadorF{
		position: relative;
		width: 100%;
		height: 2em;
		/*Gradient*/
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#30286b+0,475e88+100 */
			background: #30286b; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #30286b 0%, #475e88 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #30286b 0%,#475e88 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #30286b 0%,#475e88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30286b', endColorstr='#475e88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	/*}----------------------------- FIM Separador ------------------------------------*/


/*{----------------------------- Banner Rodape ---------------------------------------*/

	#bannerF{
		width: 100%;
		height: 22.2em;
	}

	/*}----------------------------- FIM Banner Rodape ---------------------------------------*/
	
/*{----------------------------- Rodape ---------------------------------------*/



	/*}----------------------------- FIM Rodape ---------------------------------------*/
	

	
	.laminaSelected{
		background-color: #C7C7C7;
		border:1px solid #BBB;
		min-height: 100%;
        height: 18em;
	}

	.lamina:hover{
		background-color: #C7C7C7;
		border:0.1em solid #BBB;

        height: 100%;
		cursor: pointer;
	}

	.lamina{
		padding-top: 5em;
		margin-bottom: 2em;
		min-height:30em;
		height:170%;
	}

	.laminaNoHover{
		padding-top: 5em;
		min-height:30em;
		height:170%;
	}
	
	.laminaNoSala{
		padding: 1em;
	}
	
	.laminaNoSala i{
		font-size: 3em;
	}
	
	.laminaDescubra{
		font-size: 3em;
		text-align: center;
		color: #313131
	}
	
	.laminaDescubra i{
		font-size: 5em;
	}
	
	.laminaDescubra:hover{
		background-color: #C7C7C7;
		border:0.1em solid #BBB;
        height: 100%;

		cursor: pointer;
	}

/* ------------------ POP-UP ---------------*/

#fundo-popup
	{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: .8;
		z-index: 1000;
		cursor: pointer;
		display: none;
	}

		#caixa-popup
	{
		color: black;
		position: absolute;
		background: #fff;
		width: 30%;
		margin-top: 20%;
		margin-left: 35%;
		padding-top: 10px;
		padding-right: 45px;
		padding-left: 30px;
		padding-bottom: 30px;
		z-index: 1500;
		display: none;
	}

	#caixa-popup span{
		margin-top: -2px;
	}
	#caixa-popup
	{

	}

	#fechar{
		color: black;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: solid 1px #999;
		text-align: center;
		line-height: 30px;
		font-size: 30px;
		float: right;
		cursor: pointer;
		margin-right: -30px;
		color: #000;
	}

/*{----------------------------- CADASTRO ---------------------------------------*/


#notice{
		padding-top: 2em;
		position: relative;
		padding-bottom: 2em;
		color: #000;
		background-color: #fafafa;
		box-shadow: 0px 2px 5px #000;
		z-index: 999;
	}
	
	#notice i{
		float: left;
		background-color: #eee;
		margin-top: 0.5em;
		margin-left: 0.5em;
		margin-right: 0.5em;
		padding: 0.5em;
		color: #3f3f3f;
		border: 2px solid rgba(127,127,127,.1);
		font-size: 5em;
		text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
	}




	#notice h1{
		font-size: 4em;
	}

	#notice p{
		font-size: 3em;
	}

	/*}----------------------------- FIM CADASTRO ---------------------------------------*/


/* ------------Menu---------
#menu{
	background-color:#668CFB;
	border: 1px solid #000;
	font-size: 2em;
	height: 100%;
	width: 100%;
	border-radius: 0%;
	margin-bottom: 0px;
	z-index: 9999;
}


#menu a.navbar-brand{
	font-size: 2em;
	margin-left: -.4em;
	margin-top: 0.14em;
	color: #fff;
	text-shadow: -1.6px 0 #000, 0 1.6px #000, 1.6px 0 #000, 0 -1.6px #000;
}

#menu nav:first-child a span{
	font-size: 0.8em;
	margin-left: -0.7em;
	font-weight: bold;
}
#menu img{
	margin-top: -0.8em;
	text-align: center;
	width: 2.2em;
	height: 2.2em;
	border-radius: 100%;
	border-color: black;
	border-style: solid;
	border-width: 0.05em;
}

#menu .opcoes a{
	padding-top: 0.6em;

	color: #fff;
	text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
	font-size: 2.5em;
}

#menu .opcoes li:first-child{
	border-left: 0.1em solid #000;
}

@media (max-width:768px){
	#menu .opcoes li:first-child{
		border-left: 0.0em solid #000;

	}

}


#collapseMenu{
	border-left: 1px solid #000;
}

#menu .navbar-default{
	border-left: 1px solid rgba(000,000,000,0.1);
	background-color:#668CFB;
}
*/
/* ------------Fim Menu---------*/