
/*ERRO*/

#erroCriarSala{
	color: #991713;
}

*{
     outline: #f1f1f1 0px solid;
     margin: 0px;
     padding: 0px;
}

 .svg{
	 height: 1.7em;
 }

html{
    height:100%;
	font-family: Verdana, Geneva, sans-serif;
}

img{
	width: 100%;
	height: 100%;
}

button{
	cursor: pointer;
}

 body{
     background-color: #DEDEDE;
}


textarea {
	resize:vertical;
}

 /*------BANNER -------*/
 #banner img{
 	height: 53em;
 }

 /*------PAGINA INICIAL ----*/


 .conteudo-titulo{
	 color: #575757;
 }



 #conteudoPaginaIncial i{
	 margin-bottom: 0.4em;
	 color: #313131;
	 font-size: 10em;
	 text-align: center;
 }


 #conteudoPaginaIncial h2{
	 font-weight: bold;
	 font-size: 3.7em;
	 text-align: center;
 }

 #conteudoPaginaIncial p{
	 font-size: 2.4em;
 }

#levelPaginaInicio{
	margin-top: -2em;
	font-size: 0.8em;
}


#entrarPaginaInicial{

	background: #B8BDCD;
	padding-top: 2em;
	padding-bottom: 5em;
	color: #4B558B;
	font-size: 1.3em;
}

#entrarPaginaInicial button{
	margin-top: 1.2em;
	background: transparent;
	color: #616B9E;
	font-weight: bold;
	font-size: 2em;
	padding:0.7em 4em;
	border-radius: 0.3em;
	border-color: #616B9E;

}

#entrarPaginaInicial button:hover{
	border-color: #fff;
	color: #fff;
}

#entrarPaginaInicial button:active{
	background: #323964;
}

#rankingInicial{
	margin-top: 6em;
	background: #9AA3D6;
	padding-bottom: 6em;
}

#rankingInicial h2{
	font-size: 3.7em;
	color: #DFDFDF;
}


 #melhoresJogadores{
	 padding:6em 0;
	 padding-top: 0em;
	 color: #303030;
	 margin-top: 6em;
 }
 
#levelPaginaInicio{
	margin-top:1em;
}
 
 #melhoresJogadores div:nth-child(2){
	 margin-top: -3em;
 }
 
  #melhoresJogadores div:nth-child(3){
	 margin-top: 3em;
 }

 #melhoresJogadores .fotoJogador{
	 margin-top: -8em;
	 height: 100%;
	 position: ;
	 float: left;

 }

 #melhoresJogadores .fotoJogador img{
	 padding-top: 1em;
	 height: 50%;
	 width: 50%;
	 float:left;
 }

 #melhoresJogadores h3{
	 font-weight: bold;
 }

 #melhoresJogadores p{
	 font-size: 2.6em;
 }

#melhoresJogadores .informacaoJogador{
	padding: 2em;
	padding-top: 8em;
	background-color: #f1f6f6;
	border: 2px solid #000;
}

/*------Nova sala----------*/
 .banner-img{
	 margin-top: -3.2em;
	 height: 70em;
	 background-color: #427280;
	 background-image: url("../../salas/require/img/bannerNovaSala.png");
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 background-origin: content-box;
	 color: #fff;

 }

 .banner-img h1{
	 padding-top: 2em;
	 font-size: 6.7em;
	 font-weight: bold;
 }

 .banner-img h3{
	 text-align: center;
	 font-size: 4em;
 }

 .banner-img button{
	 margin-top: 1em;
	 height: 4em;
	 color: #6074BC;
	 border-radius: 1em;
	 font-size: 4em;
	 font-weight: bold;
	 border: 0.2em solid #54aabd;
	 box-shadow: 0.1em 0.4em 1em #000;
	 padding-left: 2em;
	 padding-right: 2em;
 }

 .banner-img button:hover{
	 background-color: #b6d2ff;
	 color: #6074BC;
	 border-color: #49889a;
 }

 .conteudoNovaSala2 {
	 margin-top: 6em;
	padding-top: 6em;
	 padding-bottom: 6em;
	background-color: #8BA3BA;
	 color: #fff;
 }

#conteudoNovaSala h1{
	font-size: 6em;
}



#conteudoNovaSala img{
	height: 17em;
}

 #conteudoNovaSala h2{
	 font-size: 3.4em;
	 font-weight: bold;
 }

#conteudoNovaSala p{
	font-size: 2.6em;
}




/* ------------Fim Menu---------*/

/* ---------MENU -------------*/




#menu{
	background-color: #8B9CCA;
	border: 1px solid #000;
	font-size: 2em;
	height: 80%;
	width: 90%;
	border-radius: 0%;
	margin-bottom: 0px;
	z-index: 9999;
	position: fixed;
	margin-left: 5%;
	margin-top: 9%;
	display: none;
	transition: 1.2s ;
}


.menuButton{
	background-color: #C7C6FF;
	border: 0.1em solid #757575;
	padding: 5%;
	margin: 1% 3%;
	width: 30%;
	cursor:pointer;
}

.menuButton:hover{
	background-color: #aeade1;
}

.menuButton:active{
	background-color: #9897c9;
}


#perfilMenu{
	position: relative;
	margin: 2% 3% 0 -5%;
	background-color: #C7C6FF;
	border: 0.1em solid #757575;
	cursor: pointer;
	padding: 1em;

}

#perfilMenu:hover{
	background-color: #aeade1;
}

#perfilMenu:active{
	background-color: #9897c9;
}

#perfilMenu h3{
	font-size:1.7em;
}

#perfilMenu p{
	font-size:0.9em;
}


#perfilMenu img{
	width: 50%;
	border: solid rgba(0, 0, 0, 0.21) 0.1em;
	border-radius: 0.5em;
	padding:0.7em;
	background-color: rgba(0, 0, 0, 0.31);
}


.bola{
	border-radius: 100%;
	width: 10em;
	height: 10em;
	position: fixed;
	background-image: url('../img/logo/Bola.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: 0%;
	top:5%;

	z-index: 99999;
	transform: rotate(0deg) ;
}




#background{
	margin-top:-100px;
	margin-left:-100px;
	width: 120%;
	height: 120%;
	position: fixed;
	background-color: #000;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s ;
	-ms-transition: 0.5s ;
	-o-transition: 0.5s ;
	transition: 0.5s;
	opacity: 0.8;
	display: none;
	z-index: 9900;
}



/* ------------Logar------------*/


	#menu #login{
	/*Acesso ao Login*/
		width: 6.3em;
		border-radius: 100%;
		float: right;
		position: relative;
	}

#menu #cadastrar{
    display: none;
}

 @media (max-width:768px) {
     #menu #login{
     display: none;
     }
     #menu #cadastrar{
         display: block;
     }
}

	#menu #login img{
        margin-top:0em;
        background-color: #fff;
		width: 60%;
		height: 60%;
		margin-left: 0.35em;
		cursor: pointer;

	}


/*------------Fim Logar-----------*/





#rodape{
    position: relative;
    bottom:0;
    width: 100%;
    height: 10%;
    margin-top: 1em;
    background-color: #c7c7c7;
    padding-bottom: 1em;
    padding-top: 1em;

}

/*{----------------------------- CADASTRO ---------------------------------------*/




.cadastro{
	font-size: 2em;
	margin-bottom: 3em;
	text-align: center;
}

.cadastro h2{
	text-align: center;
 }



.cadastro form{
		padding-top: 0.7em;
		padding-left: 1em;
		padding-right: 1.5em;
		background-color: #FAFAFA;
		border: 2px solid rgba(0,0,0,0.2);
		height: 180%;
		font-weight: bold;
        min-height: 25em;

}

.cadastro input{
	text-align: center;
	width: 90%;
	padding: 0.5em;
	background-color: #eee;
	border: 1px solid rgba(0,0,0,0.2);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5%;
	margin-right: 5%;
}


/* PLACE HOLDER SENHA */

.cadastro table tr:nth-child(2) td input::-webkit-input-placeholder{
	font-size: 0.7em;
	padding-top: 0.2em;
}

.cadastro table tr:nth-child(2) td input::-moz-placeholder{
	font-size: 0.7em;
	padding-top: 0.2em;
}

 .cadastro table tr:nth-child(2) td input:-ms-input-placeholder{
	font-size: 0.7em;
	padding-top: 0.2em;
}

.cadastro table tr:nth-child(2) td input:-moz-placeholder {
	font-size: 0.7em;
	padding-top: 0.2em;
}

/* PLACE HOLDER SENHA */

 .cadastro button{
    margin-bottom: 1.2em;
	border-radius: 5px;
	margin-top: 0.2em;
	margin-left: 67%;
     width: 6em;
	height: 3em;
	background-color: #9a9a9a;
	border: 1px solid #fff;
	color:#fff;

}

.cadastro button:hover{
	background-color: #4a4a4a;
	}

	.cadastro button:active{
	background: #9a9a9a;
	background: -webkit-linear-gradient(#353535 -60px, #9a9a9a);
	background:-o-linear-gradient(#353535 -60px, #9a9a9a);
	background:linear-gradient(#353535 -60px, #9a9a9a);
	}

	 .cadastro a{
		width: 100%;
		margin-top: 1em;
		display: inline-block;
		text-align: right;
		color:#515151;
	}

	.cadastro a:hover{
		text-decoration: underline;
		color:#292929;
	}
	/*}----------------------------- FIM CADASTRO ---------------------------------------*/



/* -------------- RODAPE --------------*/
footer{

	padding-top: 1em;
	padding-bottom: 1em;
	border-top:1.4em solid #3C57B4;
	font-size: 3em;
	color:#FFFFFF;
	background: #787878;
}



footer #imagemFooter{
	height: 2em;
	opacity: 0.6;

	background-image: url("../img/logo/Thinkers.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}

#mapaSite{
	padding-top: 0.2em;
	margin-bottom: 0.4em;
}

#mapaSite a{
	font-size: 0.8em;
	color: #fff;
}

#copyright{
	border-right: 0.1em solid #fff;
}

footer h4{
	font-size: 0.8em;
}
/* ------------- FIM RODAPE ---------*/

/*----------------- APRENDA --------------*/
#conteudo-escolhas {font-size: 2em;margin-top: 2em; text-align: center;}


#conteudo-escolhas h1{
    color:#313131;
}
#conteudo-escolhas p{
	font-size: 1.5em;
}

.lamina i{
	color:#313131;
	font-size: 5em;
}
/* ------------- FIM APRENDA -------------*/
/* ------------- SALAS ------------------*/
#topoSalaDeAula{
	background-color: #7fa9cf;
	color: #fff;
	padding-top:  4em;
	padding-bottom:  4em;

}

#topoConfigDeAula{
	background-color: #6989cf;
	color: #fff;
	margin-bottom: 2em;
 }

#topoConfigDeAula img{
	width: 7%;
	padding: 2em;
	margin-right: 4em;
}

#topoConfigDeAula img:hover{
	cursor: pointer;
	background-color: #5072cf;
}

#notificationSala{
	background-color: #ff928d;
	margin-left: -4em;
	margin-bottom:-1em;
	padding: 0.5em 0.6em;
	border-radius: 100%;
	font-size: 2em;
	display: none;
}

#topoSalaDeAula h1{
	text-transform: uppercase;
	font-weight: bold;
}

#topoSalaDeAula i{
	color: #3b4d65;
	position: absolute;
	top: 0.6em;
	font-size: 10em;
	float: left;
}

#reputacaoDaSala{
	position: absolute;
	top: 3em;
	right: 2.8em;
	width: 10%;
	height: 70%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}

.backgrounSalas{
	background-color: #FFFFFF;
	padding: 7em;
	border: .1em solid #878787;
	margin-bottom: 5em;
	box-shadow: 0em 0em 3em  0.2em #878787;
}

#filtroSala{
	font-size: 2em;
}

.buttonFiltro{
	background-color: transparent;
	border: 0.1em solid #9AA3D6;
	border-radius: .3em;
	margin-bottom: .5em;
	width: 100%;
}

.buttonFiltro:hover{
	background-color: #8992b7;
}



#filtroSala hr{
	width: 100%;
	border: .3em solid #9EA0CB;
	border-radius: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}


.inputFiltroSala{

	font-size: 3em;
	padding: 0.3em;
	border: transparent;
	border-radius: 0;
	background-color: transparent;
	width: 100%;
	border-bottom: 0.2em solid #c7c7c7;
	z-index: 2;
}

.hiddenTitulo{
	z-index: 1;

	margin-top: -3.3em;
}

#mensagemPost{
	height: 3em;
}

#filtroSala input[type="checkbox"] {
	display:none;
}

#filtroSala input[type="checkbox"] + label span {
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;

	width:1em;
	height:1em;
	border: .1em solid #a3a3a3;

}

#filtroSala input[type="checkbox"]:checked + label span {

	background-color: #4b41ff;
}


.backgrounSalas h3{
	margin-top: 0em;


	color: #8687ae;
}

.postDaSala h3{
	text-transform: uppercase;
	font-weight: bold;
}

.postDaSala h5{
	margin-left: 1em;
}

.postDaSala img{

	width: 8em;
	border: .1em solid #8687ae;
	border-radius: 1em;
	box-shadow: 0em 0.3em 0.7em  #7c7c7c;
}

#postPage{
	font-size: 5em;
	background-color: transparent;
	width: 100%;
	border: 0em transparent;

	color:#9EA0CB;
}

#postPage:hover{
	color: #555776;
}


.postDaSala{
	cursor: pointer;
	padding-top: 3.5em;
	padding-bottom: 2em;
	border-bottom: #c7c7c7 0.4em solid;
}


.postDaSala p{
	color: #676767;
	margin-top: -.6em;
	font-size: 2em;
}

#desafioSala{
	color:#8687ae;
}

#desafioSala a{
	color: #6b89bc;
	font-size: 2em;
}

#desafioSala img{
	width: 50%;
}
/* ------------- FIM SALAS --------------*/
.tabela-comun{

    font-size: 3em;
    overflow: auto;
    width: 80%;
    margin-left: 10%;
    height: 3em;

}

.tabela-comun td{
     border-collapse: separate;
    border-bottom: 0.01em solid #9A9A9A;

}

.tabela-comun td i{
    margin:.3em;
}

#salas{
    position: relative;
    height: 60%;
    overflow-y: auto;
}

#escolha{

}

/* RESPOSTAS*/

.backgroundResposta{
	background-color: #c0c0c0;
	padding-top:5em;
	padding-bottom:5em;
	border: #757575 solid 0.1em;
}

.backgroundResposta p{
	font-size: 2.7em;
}


.backgroundResposta button{
	font-size: 2.7em;
	background: transparent;
	margin-top: 1em;
	padding: .8em;
	border: 0.3em solid #757575;

	margin-left: 1em;
}


.backgroundResposta button:hover{
	border: 0.3em solid #5c5c5c;


}

.backgroundResposta button:active{
	background:#5c5c5c;
	color: #fff;
	border: 0.3em solid #5c5c5c;

}

#lampiPerfil{
	padding: 1em;
	width: 10%;
	height: 10%;
	border: 0.5em solid #485bc7;
	float: left;
	background-color: #dddfe2;
}

#nomePerfil{
	border-bottom: 0.1em solid #485bc7;
	float: left;
	width: 90%;
	padding-top: 0.3em;
	padding-left: 0.7em;
}

#nomeCompleto{
	float: left;
	text-align: center;
	font-size: 3em;
	margin-top: -0.3em;
	padding-left: 1.2em;
}

#bannerPerfil{
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #8b9cca;

}

.backgroundPerfil{
	background-color: #EDF0F1;
}

.mensagemAmigoPerfil{
	background-color: #c7c6ff;
	padding: 1.2em;
	margin-bottom:1em;
}


.amigoFotoPerfil img{
	border:.1em solid #929292;
	border-radius: 0.4em;
}

#perfil h4{
	font-weight:bold;
	color: #706eb0;
}

#escreverMensagemPerfil{
	margin-top: 3em;
	margin-bottom: 2em;
	bottom:0;
}

#perfil h1{
	color: #706eb0;
	font-size: 15em;
}

#perfil p{
	font-size: 3em;
	text-align: left;
	color: #706EB0;
}

#perfil h3, #perfil a{
	color: #706EB0;
	text-transform: uppercase;
}

#perfil a:hover{
	text-decoration:none;
	color: #5b599b;
}

#levelRomanoPerfil{
	text-transform: uppercase;
	font-weight:bold;
}

#pontosPerfil{
	margin-left: 2em;
}

#proeza{
	min-height: 23em;
}

#perfilEsquerdo{
	min-height: 73.4em;
}


.delButtonPerfil{
	color: #c7c7c7;
	opacity: 0.3;
	margin-top: -3.6em;
	font-size: 1.7em;
	padding: 0.1em 0.4em ;
	position: relative;
	float: right;
	background-color: #000	;
	border-radius: 100%;
	display: none;
	cursor:pointer;
}

.linhaPerfil{
	border:0.2em solid #485BC7;
}

.notificacao p{
	font-size:2em;
	margin-left: 2em;
}

.notificacao{
	padding:1.3em 1.3em 1.5em 1.3em;
	border: 0.1em solid #d0d0d0;
	background-color: #d4d4d4;
}

.notificacao:hover{
	cursor: pointer;
	background-color: #bebebe;
}

.n-visualizado{
	background-color: #aaacd4;
}

#notificacaoSala{
	margin-top:2em;
	margin-bottom: 2em;
}

.aulaTable{
	font-size:2em;
	background-color: #e6e5ff;
	border: 0.1em solid #c7c7c7;
}

.aulaTable tbody{
	cursor: pointer;
}

.backgroundDesafio{
	background-color: #f1f1e7;
	border:0.1em solid #c7c7c7;
	min-height: 24em;
	margin: 0 4%;
}

.backgroundDesafio h1{
	color: #888ab1;
}

.labelDesafio{
	font-size:2em;
}

#novoDesafio{
	position: fixed;
	overflow: auto;
	top:5%;
	width: 90%;
	height:90%;
	left: 5%;
	z-index: 900;
	background-color: #eaebff;
	display: none;
}

.disableBackground{
	background-color:#000000;
	opacity: 0.7;
	z-index: 800;
	left: 0;
	top:0;
	position: fixed;
	width:100%;
	height:100%;
	display: none;
}


#topoConfigDePerfil{
	background-color: #6989cf;
	color: #fff;
	margin-bottom: 7em;

}

#topoConfigDePerfil img{
	width: 7%;
	padding: 2em;
	margin-right: 4em;
}

#topoConfigDePerfil img:hover{
	cursor: pointer;
	background-color: #5072cf;
}

.market-place{
	background-color: #9ba8ff;
	height: 26em;
	border: 0.2em solid #000;
	cursor: pointer;
}

.market-place:hover{
	background-color: #6a82ff;
}

.market-noLevel{
	background-color: #6f6f6f;
}

.makert-has{
	background-color: #6657ff;
}


.market-enabled{
	background-color: #6a82ff;
}

#reviewBuy img{
	padding: 2em;
	border:0.3em solid #c7c7c7;
	margin-top: 3em;
	margin-bottom: 3em;
}

#market-submenu{
	margin-top: -7em;
	margin-bottom: 2em;
	background-color: #8baacf;
}

/*
#popUpNotification{
	position: fixed;
	width:75%;
	height: 75%;
	background-color: red;
	top:10%;
	left: 12%;
	z-index: 9000;
}

#popUpNotificationBG{
	background-color: #000;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.7;
	position: fixed;
	z-index: 8999;
}*/