*{
	outline: #f1f1f1 0px solid;
	margin:0px;
	text-align: justify;

}


a{
	text-decoration: none;
}

html{
	height:100%;
	max-width: 99.72%;
	font-family: Helvetica Neue, Helvetica, arial;	
}

body{
	background-color: #fff1f1;	
}

hr{

    border-width: 3px;
    width: 70%;
    margin-left: 15%;
    opacity: 0.2;
    filter: alpha(opacity=20);
    border-color: #007Fff;
}



#topo div p{
	font-size: 1.5em;
	margin-top: 8px;
	margin-left: 15px;
}

#container{
	width: 100%;
	
}

#conteudo{
	width: 80%;
	height: 100%;
	margin-left: 10%;


}

.esquerda{
	float:left;
	width: 40%;
	margin-right: 10%;

	
}

.direita{
	float:left;
	width: 40%;
	margin-left: 10%;
	
}

#topo{
	height: 50em;
	margin-bottom: 5em;
	background: url(../img/banner.jpg) center center no-repeat;
}

#topo div:first-child{

	
	width: 100%;
	height: 3em;
	z-index: 1;
	position: fixed;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */


}

#topo div{
	width: 100%;
	
	height: 100%;
}

h1{
	text-align: center;
}


#floatLogin{
	width: 30%;
	height: 25em;
	margin-top: 7.50%;
	margin-left: 60%;
	float: right;
	position: absolute;
	background-color: #a6a6a6;
	border-radius: 15px;
	opacity: 0.6;
}

#floatLogin h1{
	color:#002CFF;
	text-align: center;
	padding: 8%;
	font-size: 3em;
}

.form{
	width: 83%;
	margin-left: 6.5%;
	height: 2.5em;
	margin-bottom: 2%;
	border-radius: 2px;
	border: 2px solid #000;
	padding-left: 5px;
}

input{
	margin-left: 50px;
}

#form{
	margin-top: 8%;
}

.formbtn{
	min-width: 25%;
	margin-left: 37%;
	height: 3em;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	background-color: #f1f1f1;
	border: 2px #a4a4a4 solid;
}

.form:focus{
	background-color: #d4d4d4;
	border: 2px #00a0FF solid;
}

.formbtn:hover{
	background-color: #acf;
	border: 2px #a7c5f9 solid;
	color:#fff;
}

.formbtn:active{
	color:#fff;
	background-color: red;
	border: 2px #f1f1f1 solid;
}

#floatLogin h1{
	margin-top: 5%;
}

#container #conteudo div img{
	background-color: #00FFFF;
	border: solid 2px #a1a1a1;
	border-radius: 100%;
	max-width: 50%;
	height: 8em;
	margin-left:  30%;	
	margin-bottom: 1em;
}

#container #conteudo div{
	padding-top: 2em;
}

#rodape{
	width: 100.32%;
	background-color: #e1e1e1;
	z-index: -1;
	height: 3em;
	width:100%;
	float: left;
	margin-top: 2em;
}

#rodape p{
	margin-top: 8px;
		text-align: center;	
		font-size: 0.8em;
}

.topo{
	padding-top: 17%;
	padding-right: 55%;
	font-size: 4.2em;
	color:#00C0fF;
}
