.base{
	border-radius: 5em;
	margin-top:3em;
	background-image: linear-gradient(to top, #0174DF, #01DFD7);
	-o-box-shadow:      0px 2px 5px #000;
	-icab-box-shadow:   0px 2px 5px #000;
	-khtml-box-shadow:  0px 2px 5px #000;
	-moz-box-shadow:    0px 2px 5px #000;
	-webkit-box-shadow: 0px 2px 5px #000;
	box-shadow: 0px 2px 5px #000;
}

#progressbar{
    background-color: rgba(255,255,255,0.4);
	border-radius: 2em;
	height: 3em;
	border: 0.1em #6089cd solid;
}

.ui-progressbar-value.ui-widget-header.ui-corner-left{
	height: 2.7em;
	margin-left:0.2em;
	border-radius:6px;
	background: repeating-linear-gradient(
		45deg,
		#01F701,
		#01F701 3em,
		#0aea0a 3em,
		#0aea0a 5em
	);
	transition: 0.5s;
}

.ui-progressbar .ui-progressbar-value{
    border: transparent;
}

#vidaP i{
	text-shadow: -0.1em 0 #990000, 0.1em 0 #990000, 0.1em 0 #990000 , -0.13em 0 #990000;
	color: #FF0000;
}

#pergunta{
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 10em;
    width: 95%;
    background-color: #fff;
    border-radius: 0em 9em 9em 9em;
    text-align: center;
    box-shadow: 0px 2px 5px #0404B4;
    -o-box-shadow:      0px 2px 5px #0404B4;
    -icab-box-shadow:   0px 2px 5px #0404B4;
    -khtml-box-shadow:  0px 2px 5px #0404B4;
    -moz-box-shadow:    0px 2px 5px #0404B4;
    -webkit-box-shadow: 0px 2px 5px #0404B4;
}

.resposta{
    padding: 0.1em;
    color: #0404B4;
    border-radius: 0.27em;
    background: #F2F2F2;
    box-shadow: 0px 2px 5px #0404B4;
    font-size: 3em;
    width: 100%;
    margin-top: 1em;
    color:#000;
    -o-box-shadow:      0px 2px 5px #0404B4;
    -icab-box-shadow:   0px 2px 5px #0404B4;
    -khtml-box-shadow:  0px 2px 5px #0404B4;
    -moz-box-shadow:    0px 2px 5px #0404B4;
    -webkit-box-shadow: 0px 2px 5px #0404B4;
}

/*

    margin-top: 1em;
    background: #013ADF;
    color: white;
    padding: 0.1em;
    border-radius: 5em;
    border-color: blue;
    margin-right: 2em;
    font-size: 3em;
    box-shadow: 0.1em 0.1em 0.1em #A9F5F2;
    -o-box-shadow:     0.1em 0.1em 0.1em #A9F5F2;
    -icab-box-shadow:   0.1em 0.1em 0.1em #A9F5F2;
    -khtml-box-shadow:  0.1em 0.1em 0.1em #A9F5F2;
    -moz-box-shadow:    0.1em 0.1em 0.1em #A9F5F2;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #A9F5F2;

*/

.lousa{
    width: 100%;
    height: 100%;
    background: #21610B;
    border-radius: 0.5em;
    border: 0.8em solid #8A4B08;
    box-shadow: 0px 2px 5px #0404B4;
    -o-box-shadow:      0px 2px 5px #0404B4;
    -icab-box-shadow:   0px 2px 5px #0404B4;
    -khtml-box-shadow:  0px 2px 5px #0404B4;
    -moz-box-shadow:    0px 2px 5px #0404B4;
    -webkit-box-shadow: 0px 2px 5px #0404B4;
    /*cursor: url(http://www.webcis.com.br/iamages/lupa-clientes.cur), crosshair);*/
}

.teste{
    margin-left: 2em;
    position: absolute;
    background-color: red;
    width: 90%;
    height: 30em;
}

@media(min-height: 857px){
    .teste{
        height: 24em;
    }
}

@media(min-height: 1286px){
    .teste{
        height: 15em;
    }
}

.botoesAcoes button{
    margin-top: 1em;
    background: #013ADF;
    color: white;
    padding: 0.1em;
    border-radius: 5em;
    border-color: blue;
    margin-right: 2em;
    font-size: 3em;
    box-shadow: 0.1em 0.1em 0.1em #A9F5F2;
    -o-box-shadow:     0.1em 0.1em 0.1em #A9F5F2;
    -icab-box-shadow:   0.1em 0.1em 0.1em #A9F5F2;
    -khtml-box-shadow:  0.1em 0.1em 0.1em #A9F5F2;
    -moz-box-shadow:    0.1em 0.1em 0.1em #A9F5F2;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #A9F5F2;
}

.botoesAcoes button:hover{
    background: #81F7F3;
    color: #0404B4;
    border-color: #81F7F3;
}

.botoesAcoes div:nth-child(1) button:hover{
    color: white;
    background: red;
    border-color: red;
}