body{
    background-color: #dade94;
}

#bannerPerfil{
    background-color: #d3c432;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #e1de23;
}

#nomePerfil{
    border-bottom: 0.1em solid #e1de23;
}

#nomeCompleto, #nomePerfil{
    color: #373408
}

.mensagemAmigoPerfil{
    background-color: #dece73;
}


.amigoFotoPerfil img{
    border:.1em solid #dece73;
}


#perfil h1{
    color: #918849;
}

#perfil p{
    color: #918849;
}

#perfil h3,a,h2{
    color: #918849;
}



.linhaPerfil{
    border:0.2em solid #6a6135;
}

#perfil a:hover{
    color: #6a6135;
}

#topoConfigDePerfil{
    background-color: #6a6135;
    color: #fff;
}

#topoConfigDePerfil img:hover{
    background-color: #4c4326;
}


#market-submenu{
    background-color: #f4ee8d;
}



#market-submenu h4{
    color: #0f0f0f;
}

#reviewBuy img{

    border:0.3em solid #c7b80f;

}


.makert-has{
    background-color: #ffda58;
}

.market-place:hover{
    background-color: #ffe136;
}


