body{
    background-color: #c5d8de;
}

#bannerPerfil{
    background-color: #5387d3;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #4f59e1;
}

#nomePerfil{
    border-bottom: 0.1em solid #4f59e1;
}

#nomeCompleto, #nomePerfil{
    color: #bbd3ff
}

.mensagemAmigoPerfil{
    background-color: #7e99de;
}


.amigoFotoPerfil img{
    border:.1em solid #7e99de;
}


#perfil h1{
    color: #486691;
}

#perfil p{
    color: #486691;
}

#perfil h3,a,h2{
    color: #486691;
}



.linhaPerfil{
    border:0.2em solid #3f577e;
}

#perfil a:hover{
    color: #3f577e;
}

#topoConfigDePerfil{
    background-color: #6989cf;
    color: #fff;
    margin-bottom: 6em;

}

.market-place:hover{
    background-color: #6a82ff;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #6657ff;
}


.market-enabled{
    background-color: #6a82ff;
}

#reviewBuy img{
    border:0.3em solid #c7c7c7;

}

#market-submenu{

    background-color: #8baacf;
}
