#bannerPerfil{
     background-color: #f4fdff;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #dad6d2;
}

#nomePerfil{
    border-bottom: 0.1em solid #dad6d2;
}

.mensagemAmigoPerfil{
    background-color: #dedbdb;
}


.amigoFotoPerfil img{
    border:.1em solid #dedbdb;
}


#perfil h1{
    color: #6a6a6a;
}

#perfil p{
    color: #6a6a6a;
}

#perfil h3,a,h2{
    color: #6a6a6a;
}

#nomeCompleto, #nomePerfil{
    color: #000;
}

.linhaPerfil{
    border:0.2em solid #4f4f4f;
}

#perfil a:hover{
    color: #4f4f4f;
}

#topoConfigDePerfil{
    background-color: #4f4f4f;
    color: #000000;
}

#topoConfigDePerfil img:hover{
    background-color: #323232;
}


.market-place:hover{
    background-color: #ffffff;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #e1e2dc;
}



#reviewBuy img{
    border:0.3em solid #c7c7c7;

}

#market-submenu{
    background-color: #cec5cf;
}

#market-submenu h4{
    color:#000;
}
