body{
    background-color: #c2c3bd;
}

#bannerPerfil{
    background-color: #373637;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #1b1b1b;
}

#nomePerfil{
    border-bottom: 0.1em solid #1b1b1b;
}

#nomeCompleto, #nomePerfil{
    color: #fff
}

.mensagemAmigoPerfil{
    background-color: #c2c2c2;
}


.amigoFotoPerfil img{
    border:.1em solid #c2c2c2;
}


#perfil h1{
    color: #313131;
}

#perfil p{
    color: #313131;
}

#perfil h3,a,h2{
    color: #313131;
}



.linhaPerfil{
    border:0.2em solid #313131;
}

#perfil a:hover{
    color: #020202;
}

#topoConfigDePerfil{
    background-color: #161616;
    color: #ffffff;
}

#topoConfigDePerfil img:hover{
    background-color: #000000;
}

.market-place:hover{
    background-color: #ffffff;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #0c0c0a;
}



#reviewBuy img{
    border:0.3em solid #676767;

}

#market-submenu{
    background-color: #cec5cf;
}

#market-submenu h4{
    color:#000;
}
