body{
    background-color: #d8aede;
}

#bannerPerfil{
    background-color: #be66d3;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #b85fb7;
}

#nomePerfil{
    border-bottom: 0.1em solid #b85fb7;
}

#nomeCompleto, #nomePerfil{
    color: #ebc0ff
}

.mensagemAmigoPerfil{
    background-color: #d58cde;
}


.amigoFotoPerfil img{
    border:.1em solid #d58cde;
}


#perfil h1{
    color: #8b5a91;
}

#perfil p{
    color: #8b5a91;
}

#perfil h3,a,h2{
    color: #8b5a91;
}

#topoConfigDePerfil{
    background-color: #8b5a91;
    color: #ffffff;
}

#topoConfigDePerfil img:hover{
    background-color: #6b4271;
}



.linhaPerfil{
    border:0.2em solid #673f6d;
}

#perfil a:hover{
    color: #673f6d;
}


.market-place:hover{
    background-color: #ff04ee;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #e267e1;
}



#reviewBuy img{
    border:0.3em solid #c74eb6;

}

#market-submenu{
    background-color: #ca98cf;
}

#market-submenu h4{
    color:#000;
}
