body{
    background-color: #c7b6de;
}

#bannerPerfil{
    background-color: #7f58d3;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #6e5cb8;
}

#nomePerfil{
    border-bottom: 0.1em solid #6e5cb8;
}

#nomeCompleto, #nomePerfil{
    color: #d4c0ff
}

.mensagemAmigoPerfil{
    background-color: #a790de;
}


.amigoFotoPerfil img{
    border:.1em solid #a790de;
}


#perfil h1{
    color: #675e91;
}

#perfil p{
    color: #675e91;
}

#perfil h3,a,h2{
    color: #675e91;
}



.linhaPerfil{
    border:0.2em solid #534b72;
}

#perfil a:hover{
    color: #534b72;
}

#topoConfigDePerfil{
    background-color: #6156ab;
    color: #fff;
}

#topoConfigDePerfil img:hover{
    background-color: #3b3a74;
}


.market-place:hover{
    background-color: #b224ff;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #9e6ee2;
}



#reviewBuy img{
    border:0.3em solid #9f2bc7;

}

#market-submenu{
    background-color: #9984cf;
}

#market-submenu h4{
    color:#000;
}
