body{
    background-color: #cbdeb1;
}

#bannerPerfil{
    background-color: #82ca59;
    border-bottom: 0.1em solid #c7c7c7;
}

#lampiPerfil{
    border: 0.5em solid #32c72d;
}

#nomePerfil{
    border-bottom: 0.1em solid #32c72d;
}


.mensagemAmigoPerfil{
    background-color: #8ede8e;
}


.amigoFotoPerfil img{
    border:.1em solid #8ede8e;
}


#perfil h1{
    color: #73bd73;
}

#perfil p{
    color: #73bd73;
}

#perfil h3,a,h2{
    color: #73bd73;
}

#nomeCompleto, #nomePerfil{
    color: #fff;
}

.linhaPerfil{
    border:0.2em solid #73bd73;
}

#perfil a:hover{
    color: #5da05d;
}

#topoConfigDePerfil{
    background-color: #5da05d;
    color: #fff;
}

#topoConfigDePerfil img:hover{
    background-color: #508b50;
}


.market-place:hover{
    background-color: #52ff44;
}

.market-noLevel{
    background-color: #6f6f6f;
}

.makert-has{
    background-color: #44e277;
}



#reviewBuy img{
    border:0.3em solid #17c714;

}

#market-submenu{
    background-color: #65cf68;
}

#market-submenu h4{
    color:#fff;
}

