body{
    background-color: #debcb7;
}



#lampiPerfil{
    border: 0.5em solid #c72838;
}

#nomePerfil{
    border-bottom: 0.1em solid #c72838;
}

#bannerPerfil{
    background-color: #ca484f;
    border-bottom: 0.1em solid #c7c7c7;
}


.mensagemAmigoPerfil{
    background-color: #de9e9e;
}


.amigoFotoPerfil img{
    border:.1em solid #c72838;
}


#perfil h1{
    color: #ca484f;
}

#perfil p{
    color: #ca484f;
}

#perfil h3,a,h2{
    color: #ca484f;
}

#nomeCompleto, #nomePerfil{
    color: #fff;
}

.linhaPerfil{
    border:0.2em solid #a5444a;
}

#perfil a:hover{
    color: #a5444a;
}


#topoConfigDePerfil{
    background-color: #a5444a;
    color: #fff;
}

#topoConfigDePerfil img:hover{
    background-color: #83393e;
}

#market-submenu{
    background-color: #f49692;
}



#market-submenu h4{
    color: #0f0f0f;
}

#reviewBuy img{

    border:0.3em solid #c7748c;

}


.makert-has{
    background-color: #ff4b5d;
}

.market-place:hover{
    background-color: #ff363f;
}


